* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'NetflixSans', sans-serif;
    background-color: #141414;
    color: #fff;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #fff;
}

h1{
    font-size: 5vw;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

h2{
    font-size: 1.4vw;
    font-weight: normal;
}

h3{
    font-size: 1.4vw;
    font-weight: 600;
    margin-bottom: 20px;
}

h4{
    font-size: 3vw;
    font-weight: 600;
    margin-bottom: 10px;
}



/* HEAD SECTION */
header{
    position: fixed;
    width: 100vw;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0 8% 0 5%;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,rgba(0,0,0,.7)),color-stop(10%,rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
    background-image: -moz- oldlinear-gradient(top,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
    background-image: -o-linear-gradient(top,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
    background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
    z-index: 10;
    transition: background-color 0.35s ease;
}

header.display{
    background-color: rgba(0, 0, 0, 0.9);
}

.hamburger {
    display: none;
    height: 30px;
    width: 30px;
    margin: 15px 20px 0 0;
}

.header__logo{
    width: 92px;
    height: 60px;
    background-image: url('../img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 25px;
}

.header__menu{
    flex-grow: 1;
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 0.8em;
}

.header__menu li{
    display: inline-block;
    margin-left: 20px;
}

.header__menu li a{
    opacity: 0.8;
    transition: all 0.35s ease;
}

.header__menu li a:hover{
    opacity: 0.5;
}

.header__menu li a.active{
    opacity: 1;
}

.header__menu li a:hover.active{
    opacity: 1;
}

.header__dx {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__dx .search-form{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.35s ease;
}

.header__dx .search-form.show{
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid #fff;
}

.header__dx .search-form .search-input{
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 14px;
    width: 200px;
    height: 25px;
    line-height: 25px;
    margin-left: 10px;
    width: 0px;
    transition: all 0.35s ease;
}

.header__dx .search-form.show .search-input{
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 14px;
    width: 200px;
    height: 25px;
    line-height: 25px;
    margin-left: 10px;
    width: 200px;
}

.header__dx .search-form .search-btn{
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    background-image: url(https://img.icons8.com/ios-filled/50/000000/search.png);
    background-size: cover;
    filter: invert();
    cursor: pointer;
}

.header__dx .profile-btn{
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    background-image: url(../img/profile.png);
    background-size: cover;
    cursor: pointer;
}

.header__dx .profile-btn .login-modal{
    width: 300px;
    position: absolute;
    padding: 30px 20px 20px 20px;
    right: -20px;
    top: 40px;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    max-height: 0px;
    transition: all 0.35s ease;
    text-align: center;
    font-size: 14px;
    cursor: default;
}

.header__dx .profile-btn .login-modal p{
    margin-bottom: 20px;
}

.header__dx .profile-btn .login-modal input{
    display: block;
    margin: 10px auto;
    padding: 5px 10px;
}

.header__dx .profile-btn .login-modal button{
    border: none;
    border-radius: 4px;
    background-color: #df1600;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px 10px;
    display: block;
    margin: 10px auto;
    cursor: pointer;
}



.header__dx .profile-btn::after{
    content: '';
    width: 12px;
    height: 12px;
    background-color: transparent;
    background-image: url(https://img.icons8.com/ios-filled/50/000000/sort-up.png);
    background-size: cover;
    position: absolute;
    top: 15px;
    right: -15px;
    transform: rotate(180deg);
    transition: all 0.35s ease;
    filter: invert();
}

.header__dx .profile-btn:hover::after{
    transform: rotate(0deg);
}

.header__dx .profile-btn:hover .login-modal{
    opacity: 1;
    max-height: 500px;
}

.header__dx .profile-btn .login-modal form{
    display: none;
    max-height: 0px;
}

.header__dx .profile-btn:hover .login-modal form{
    display: block;
    max-height: 500px;
}




/* MAIN SECTION */
.main__hero{
    height: auto;
    position: relative;
}

.main__hero::before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(20,20,20,1) 10%, rgba(20,20,20,0) 30%);
    z-index: 1;
}

.main__hero img{
    width: 100%;
    height: auto;
}


.main__hero .hero__content{
    position: absolute;
    top: 0;
    bottom: 35%;
    left: 4%;
    width: 36%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: end;
    z-index: 1;
}

.main__hero .hero__content .title{
    font-size: 1.4vw;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
}

.main__hero .hero__content .description{
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
}

.main__hero .hero__content .hero-buttons{
    margin-top: 1.4rem;
    display: flex;
}

.main__hero .hero__content .hero-buttons button{
    padding-left: 1.2rem;
    padding-right: 1.6rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 2.4rem;
    border-radius: 4px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    background-color: #fff;
    display: flex;
}

.main__hero .hero__content .hero-buttons .hero-play{
    
}

.main__hero .hero__content .hero-buttons .hero-play::before{
    content: '▶';
    font-size: 2.6rem;
    margin-right: 10px;
}

.main__hero .hero__content .hero-buttons .hero-info{
    color: #fff;
    background-color: rgba(109,109,110,0.7);
}

.main__hero .hero__content .hero-buttons .hero-info::before{
    content: 'ⓘ';
    font-size: 1.2rem;
    margin-right: 10px;
    font-weight: bold;
}



.main__container{
    position: relative;
    margin: -11vw 0 0 0;
    z-index: 2;
}

.main__container .cat__row {
    position: relative;
    margin-top: 2rem;
}

.main__container .cat__row .cat__title {
    opacity: 1;
    padding: 0 0 0 60px;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
}

.main__container .cat__row .cat_movies {
    position: relative;
    padding: 0 0 0 2rem;
    white-space: nowrap;
    transition: all 0.35s ease;
}

.main__container .cat__row .forward-btn,
.main__container .cat__row .backward-btn{
    position: absolute;
    bottom: 0;
    width: 4%;
    height: 78%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: all 0.35s ease;
    opacity: 0;
    cursor: pointer;
}

.main__container .cat__row:hover .forward-btn,
.main__container .cat__row:hover .backward-btn{
    opacity: 1;
}

.main__container .cat__row .backward-btn{
    background-image: url('../img/backward.png');
    background-size: contain;
    background-position-y: center;
    background-repeat: no-repeat;
    left: 0;
}

.main__container .cat__row .forward-btn{
    background-image: url('../img/forward.png');
    background-size: contain;
    background-position-y: center;
    background-repeat: no-repeat;
    right: 0;
}

.main__container .cat__row .cat_movies.wrap {
    white-space: pre-wrap;
}

.movie_container{
    display: inline-block;
    aspect-ratio: 16/9;
    border-radius: 4px;
    margin-right: 6px;
    cursor: pointer;
    transition: all 0.35s ease;
    white-space: nowrap;
}


#similar .movie_container{
    width: 32%;
    margin: 5px;
}

.movie_container:hover{
    transform: scale(1.5);
    box-shadow: 5px 5px 10px #000;
    z-index: 10;
    position: relative;
}

#similar .movie_container:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 10px #000;
    z-index: 10;
    position: relative;
}

.movie_container .movie_div{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.movie_container .movie_div .movie_title{
    font-size: 1.5rem;
    position: absolute;
    font-weight: 600;
    bottom: 0.8rem;
    left: 1rem;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
    white-space: pre-wrap;
}

.movie_container:hover .movie_div{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.movie_container .movie_info{
    display: none;
    background-color: #141414;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 100%;
    padding: 15px 8px;
}

.movie_container .movie_info button{
    position: relative;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: #262626;
    color: #fff;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.movie_container .movie_info button::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: -27px;
    left: 6px;
    background-color: rgba(255, 255, 255, 0.9);
    transform: rotate(45deg);
    opacity: 0;
    z-index: -1;
    transition: all 0.2s ease;
}

.movie_container .movie_info button::before{
    content: '';
    text-align: center;
    position: absolute;
    height: 35px;
    top: -54px;
    left: -100%;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    z-index: -1;
    border-radius: 4px;
    transition: all 0.2s ease;
    font-size: 1rem;
    font-weight: 600;
    line-height: 35px;
    padding: 0 10px;
    color: #000;
}

.movie_container .movie_info button:hover{
    border: 1px solid #fff;
}

.movie_container .movie_info button:hover::after{
    opacity: 1;
    z-index: 1;
}

.movie_container .movie_info button:hover::before{
    opacity: 1;
    z-index: 2;
}

.movie_container .movie_info .button-play{
    border: 1px solid #fff;
    background-color: #fff;
    background-image: url(../img/play.png);
    background-size: cover;
}

.movie_container .movie_info .button-play::before,
.movie_container .movie_info .button-play::after{
    opacity: 0 !important;
    z-index: -1 !important;
}

.movie_container .movie_info .button-book::before{
    content: 'Aggiungi alla mia Lista';
}
.movie_container .movie_info .button-book.active::before{
    content: 'Rimuovi dalla mia Lista';
}

.movie_container .movie_info .button-like::before{
    content: 'Mi piace';
}

.movie_container .movie_info .button-dislike::before{
    content: 'Non fa per me';
}

.movie_container .movie_info .button-dislike.active::before,
.movie_container .movie_info .button-like.active::before{
    content: 'Valutato';
}

.movie_container .movie_info .button-down-arrow::before{
    content: 'Altre info';
}

.movie_container .movie_info .button-book{
    background-image: url(../img/plus.png);
    background-size: cover;
}

.movie_container .movie_info .button-book.active{
    background-image: url(../img/added.png);
}

.movie_container .movie_info .button-like{
    background-image: url(../img/like.png);
    background-size: cover;
}

.movie_container .movie_info .button-like.active{
    background-image: url(../img/like-active.png);
}

.movie_container .movie_info .button-dislike{
    background-image: url(../img/dislike.png);
    background-size: cover;
}

.movie_container .movie_info .button-dislike.active{
    background-image: url(../img/dislike-active.png);
}

.movie_container .movie_info .button-down-arrow{
    position: absolute;
    right: 8px;
    background-image: url(../img/down-arrow.png);
    background-size: cover;
}


.movie_container:hover .movie_info{
    display: block;
    position: absolute;
    box-shadow: 5px 5px 10px #000;
    font-size: 10px;
}

.movie_container:hover .movie_info .info{
    padding: 10px 0;
}

.movie_container:hover .movie_info .genres{
    white-space: pre-wrap;
}


.cat{
    padding: 0px 5px;
    border: 1px solid #fff;
    margin-left: 5px;
}

.separator{
    color: rgb(97, 97, 97);
    margin: 0 5px;
}


/* MOVIE MODAL */
.movie-modal{
    position: absolute;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 5%;
    z-index: -10;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.35s ease;
}

.movie-modal.show{
    z-index: 10;
    opacity: 1;
}

.movie-modal .modal-window{
    position: relative;
    width: 900px;
    height: auto;
    background-color: #141414;
    border-radius: 10px;
    transform: scale(0);
    transition: all 0.5s ease;
}


.movie-modal.show .modal-window{
    position: relative;
    width: 900px;
    height: auto;
    background-color: #141414;
    border-radius: 10px;
    transform: scale(1);
}

.movie-modal .modal-window .close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    background-color: #000;
    background-image: url(../img/close.png);
    background-size: cover;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    z-index: 1;
}



.movie-modal .modal-window .modal-video{
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    background-image: url(../img/splash.png);
    background-size: cover;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.movie-modal .modal-window .modal-video::after{
    position: absolute;
    content: '';
    bottom: 10%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(20,20,20,1) 16%, rgba(20,20,20,0.5746673669467788) 29%, rgba(20,20,20,0) 37%);
}


.movie-modal .modal-window .modal-video iframe{
    margin-top: -8%;
}

.movie-modal .modal-window .modal-container{
    position: relative;
    padding: 20px;
    margin-top: -15%;
    z-index: 2;
}

.movie-modal .modal-window .modal-container p{
    margin: 10px 0;
    line-height: 25px;
}

/* MOVIE MODAL */
.full-movie-modal{
    position: fixed;
    background-color: #000;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: all 0.5s ease;
    top:0;
}

.full-movie-modal.show{
    opacity: 1;
    z-index: 999;
}

.full-movie-modal .full-movie-overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 7%;
    text-align: right;
    padding: 20px 50px;
    background-color: #000;
}

.full-movie-modal .full-movie-overlay-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7%;
    text-align: right;
    padding: 20px 50px;
    background-color: #000;
}



.full-movie-modal .full-movie-overlay.end{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.full-movie-modal .full-movie-overlay button{
    border: none;
    border-radius: 4px;
    background-color: #df1600;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px 10px;
    cursor: pointer;
}



/* FOOTER SECTION */
footer {
   text-align: center;
   padding: 40px;
   color: #414141;
   font-size: 12px;
}

footer a{
    color: #414141;
 }

footer a:hover{
     text-decoration: underline;
 }

 .secret {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100vh;
     z-index: -999;
     background-color: #000;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     transition: all 1s ease;
     opacity: 0;
     font-size: 16px;
     line-height: 26px;
     text-align: center;
 }

 .secret img{
     filter: invert();
}


 .secret select{
     display: block;
     margin: 40px;
     font-size: 20px;
     padding: 5px 20px;

}

 .secret.show {
    opacity: 1;
    z-index: 999;
}


@media screen and (min-width: 1400px) {
    .main__container .cat__row .cat_movies .movie_container {
        width: 16%;
    }
    
}




@media screen and (min-width: 1100px) and (max-width: 1399px) {
    .main__container .cat__row .cat_movies .movie_container {
        width: 20%;
    }
}

@media screen and (min-width: 800px) and (max-width: 1099px) {
    .main__container .cat__row .cat_movies .movie_container {
        width: 25%;
    }

    .main__hero .hero__content .hero-buttons button {
        font-size: 0.9rem;
        padding-left: 0.6rem;
        padding-right: 0.7rem;
    }

    .main__hero .hero__content .hero-buttons .hero-info::before {
        font-size: 1rem;
    }

    .main__hero .hero__content .hero-buttons .hero-play::before {
        font-size: 1.8rem;
    }


    .movie-modal .modal-window{
        width: 750px;
    }
}

@media screen and (min-width: 501px) and (max-width: 799px) {
    h3 {
        font-size: 0.8rem;
    }
    .main__container .cat__row .cat_movies .movie_container {
        width: 33.333333%;
    }

    .main__hero .hero__content {
        bottom: 25%;
    }

    .main__hero .hero__content .hero-buttons button {
        font-size: 0.6rem;
        padding-left: 0.3rem;
        padding-right: 0.4rem;
        line-height: 1.5rem;
    }

    .main__hero .hero__content .hero-buttons .hero-info::before {
        font-size: 0.6rem;
    }

    .main__hero .hero__content .hero-buttons .hero-play::before {
        font-size: 1rem;
    }

    .movie_container .movie_info button {
        width: 1.5rem;
        height: 1.5rem;
    }

    .movie_container .movie_div .movie_title {
        font-size: 1rem;
    }

    .movie-modal .modal-window{
        width: 480px;
    }

    .main__container .cat__row .forward-btn, 
    .main__container .cat__row .backward-btn {
        display: none;
    }

    .movie-modal {
        padding-top: 0;
    }

    .movie-modal .movie-modal{
        width: 100%;
    }

    #similar .movie_container {
        width: 30%;
    }

    .main__container .cat__row .cat_movies {
        overflow-x: auto;
        overflow-y: hidden;
    }

    .main__container .cat__row .cat_movies::-webkit-scrollbar {
        width: 0px;
      }
    
}

@media screen and (max-width: 500px) {
    h3 {
        font-size: 0.8rem;
    }

    .hamburger {
        display: block;
    }

    .main__hero .hero__content {
        bottom: 25%;
        width: 60%;
    }

    .main__container .cat__row .cat_movies .movie_container {
        width: 30%;
    }

    .main__hero .hero__content .hero-buttons button {
        font-size: 0.6rem;
        padding-left: 0.3rem;
        padding-right: 0.4rem;
        line-height: 1.5rem;
    }

    .main__hero .hero__content .hero-buttons .hero-info::before {
        font-size: 0.6rem;
    }

    .main__hero .hero__content .hero-buttons .hero-play::before {
        font-size: 1rem;
    }

    .movie_container .movie_info button {
        width: 1rem;
        height: 1rem;
    }

    .movie_container .movie_div .movie_title {
        font-size: 0.8rem;
    }

    .movie_container:hover {
        transform: scale(1.2);
    }

    .movie-modal .modal-window{
        width: 90%;
    }

    .main__container .cat__row .forward-btn, 
    .main__container .cat__row .backward-btn {
        display: none;
    }

    .movie-modal {
        padding-top: 0;
    }

    .movie-modal .movie-modal{
        width: 100%;
    }

    #similar .movie_container {
        width: 30%;
    }

    .main__container .cat__row .cat_movies {
        overflow-x: auto;
        overflow-y: hidden;
    }

    .main__container .cat__row .cat_movies::-webkit-scrollbar {
        width: 0px;
      }

    .main__container .cat__row .cat__title {
        padding: 0 0 0 1rem;
    }

    .profile-btn, .header__menu {
        display: none;
    }

    .header__dx {
        justify-content: right;
        flex-grow: 1;
    }

    .header__dx .search-form.show .search-input {
        width: 150px;
    }

}

