* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'NetflixSans', sans-serif;
    background-color: #141414;
    color: #fff;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #fff;
}

h1{
    font-size: 5vw;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

h2{
    font-size: 1.4vw;
    font-weight: normal;
}

h3{
    font-size: 1.4vw;
    font-weight: 600;
    margin-bottom: 20px;
}

/* HEAD SECTION */
header{
    position: fixed;
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0 60px;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,rgba(0,0,0,.7)),color-stop(10%,rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
    background-image: -moz- oldlinear-gradient(top,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
    background-image: -o-linear-gradient(top,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
    background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
    z-index: 20;
}

.header__logo{
    width: 92px;
    height: 60px;
    background-image: url('../img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 25px;
}

.header__menu{
    flex-grow: 1;
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 0.8em;
}

.header__menu li{
    display: inline-block;
    margin-left: 20px;
}

.header__menu li a{
    opacity: 0.8;
}

.header__menu li a.active{
    opacity: 1;
}

.header__dx {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__dx .search-form{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.35s ease;
}

.header__dx .search-form.show{
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid #fff;
}

.header__dx .search-form .search-input{
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 14px;
    width: 200px;
    height: 25px;
    line-height: 25px;
    margin-left: 10px;
    width: 0px;
}

.header__dx .search-form.show .search-input{
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 14px;
    width: 200px;
    height: 25px;
    line-height: 25px;
    margin-left: 10px;
    width: 200px;
}

.header__dx .search-form .search-btn{
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    background-image: url(https://img.icons8.com/ios-filled/50/000000/search.png);
    background-size: cover;
    filter: invert();
    cursor: pointer;
}

.header__dx .profile-btn{
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    background-image: url(../img/profile.png);
    background-size: cover;
    cursor: pointer;
}

.header__dx .profile-btn .login-modal{
    width: 300px;
    height: 100px;
    position: absolute;
    right: -20px;
    top: 50px;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    z-index: -10;
}



.header__dx .profile-btn::after{
    content: '';
    width: 12px;
    height: 12px;
    background-color: transparent;
    background-image: url(https://img.icons8.com/ios-filled/50/000000/sort-up.png);
    background-size: cover;
    position: absolute;
    top: 15px;
    right: -15px;
    transform: rotate(180deg);
    transition: all 0.35s ease;
    filter: invert();
}

.header__dx .profile-btn:hover::after{
    transform: rotate(0deg);
}

.header__dx .profile-btn:hover .login-modal{
    opacity: 1;
    z-index: 10;
}




/* MAIN SECTION */
.main__hero{
    height: auto;
    position: relative;
}

.main__hero::before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(20,20,20,1) 10%, rgba(20,20,20,0) 30%);
    z-index: 1;
}

.main__hero img{
    width: 100%;
    height: auto;
}


.main__hero .hero__content{
    position: absolute;
    top: 0;
    bottom: 35%;
    left: 4%;
    width: 36%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.main__hero .hero__content .title{
    font-size: 1.4vw;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
}

.main__hero .hero__content .description{
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
}

.main__hero .hero__content .hero-buttons{
    margin-top: 1.4rem;
    display: flex;
}

.main__hero .hero__content .hero-buttons button{
    padding-left: 1.2rem;
    padding-right: 1.6rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 2.4rem;
    border-radius: 4px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    background-color: #fff;
    display: flex;
}

.main__hero .hero__content .hero-buttons .hero-play{
    
}

.main__hero .hero__content .hero-buttons .hero-play::before{
    content: '▶';
    font-size: 2.6rem;
    margin-right: 10px;
}

.main__hero .hero__content .hero-buttons .hero-info{
    color: #fff;
    background-color: rgba(109,109,110,0.7);
}

.main__hero .hero__content .hero-buttons .hero-info::before{
    content: 'ⓘ';
    font-size: 1.2rem;
    margin-right: 10px;
    font-weight: bold;
}



.main__container{
    position: relative;
    margin: -16vw 0;
    z-index: 2;
}

.main__container .cat__row {
    margin-top: 4rem;
}

.main__container .cat__row .cat__title {
    opacity: 1;
    padding: 0 0 0 60px;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
}

.main__container .cat__row .cat_movies {
    padding: 0 0 0 60px;
    white-space: nowrap;
}

.main__container .cat__row .cat_movies .movie_container{
    display: inline-block;
    aspect-ratio: 16/9;
    border-radius: 4px;
    margin-right: 6px;
    cursor: pointer;
    transition: all 0.35s ease;
}

.main__container .cat__row .cat_movies .movie_container:hover{
    transform: scale(1.5);
    box-shadow: 5px 5px 10px #000;
    z-index: 10;
    position: relative;
}

.main__container .cat__row .cat_movies .movie_container .movie_div{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.main__container .cat__row .cat_movies .movie_container .movie_div .movie_title{
    font-size: 1.5rem;
    position: absolute;
    font-weight: 600;
    bottom: 1rem;
    left: 1rem;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
}

.main__container .cat__row .cat_movies .movie_container:hover .movie_div{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.main__container .cat__row .cat_movies .movie_container .movie_info{
    display: none;
    background-color: #141414;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 100%;
    padding: 15px 8px;
}

.main__container .cat__row .cat_movies .movie_container .movie_info button{
    position: relative;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: #262626;
    color: #fff;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.main__container .cat__row .cat_movies .movie_container .movie_info button::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: -27px;
    left: 6px;
    background-color: rgba(255, 255, 255, 0.9);
    transform: rotate(45deg);
    opacity: 0;
    z-index: -1;
    transition: all 0.2s ease;
}

.main__container .cat__row .cat_movies .movie_container .movie_info button::before{
    content: '';
    text-align: center;
    position: absolute;
    height: 35px;
    top: -54px;
    left: -100%;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    z-index: -1;
    border-radius: 4px;
    transition: all 0.2s ease;
    font-size: 1rem;
    font-weight: 600;
    line-height: 35px;
    padding: 0 10px;
    color: #000;
}

.main__container .cat__row .cat_movies .movie_container .movie_info button:hover{
    border: 1px solid #fff;
}

.main__container .cat__row .cat_movies .movie_container .movie_info button:hover::after{
    opacity: 1;
    z-index: 1;
}

.main__container .cat__row .cat_movies .movie_container .movie_info button:hover::before{
    opacity: 1;
    z-index: 2;
}

.main__container .cat__row .cat_movies .movie_container .movie_info .button-play{
    border: 1px solid #fff;
    background-color: #fff;
    background-image: url(../img/play.png);
    background-size: cover;
}

.main__container .cat__row .cat_movies .movie_container .movie_info .button-play::before,
.main__container .cat__row .cat_movies .movie_container .movie_info .button-play::after{
    opacity: 0 !important;
    z-index: -1 !important;
}

.main__container .cat__row .cat_movies .movie_container .movie_info .button-book::before{
    content: 'Aggiungi alla mia Lista';
}

.main__container .cat__row .cat_movies .movie_container .movie_info .button-like::before{
    content: 'Mi piace';
}

.main__container .cat__row .cat_movies .movie_container .movie_info .button-dislike::before{
    content: 'Non fa per me';
}

.main__container .cat__row .cat_movies .movie_container .movie_info .button-down-arrow::before{
    content: 'Altre info';
}

.main__container .cat__row .cat_movies .movie_container .movie_info .button-book{
    background-image: url(../img/plus.png);
    background-size: cover;
}

.main__container .cat__row .cat_movies .movie_container .movie_info .button-like{
    background-image: url(../img/like.png);
    background-size: cover;
}

.main__container .cat__row .cat_movies .movie_container .movie_info .button-like.active{
    background-image: url(../img/like-active.png);
}

.main__container .cat__row .cat_movies .movie_container .movie_info .button-dislike{
    background-image: url(../img/dislike.png);
    background-size: cover;
}

.main__container .cat__row .cat_movies .movie_container .movie_info .button-dislike.active{
    background-image: url(../img/dislike-active.png);
}

.main__container .cat__row .cat_movies .movie_container .movie_info .button-down-arrow{
    position: absolute;
    right: 8px;
    background-image: url(../img/down-arrow.png);
    background-size: cover;
}


.main__container .cat__row .cat_movies .movie_container:hover .movie_info{
    display: block;
    position: absolute;
    box-shadow: 5px 5px 10px #000;
    font-size: 10px;
}

.main__container .cat__row .cat_movies .movie_container:hover .movie_info .info{
    padding: 10px 0;
}

.main__container .cat__row .cat_movies .movie_container:hover .movie_info .info .cat{
    padding: 0px 5px;
    border: 1px solid #fff;
    margin-left: 5px;
}

.main__container .cat__row .cat_movies .movie_container:hover .movie_info .genres .separator{
    color: rgb(97, 97, 97);
    margin: 0 5px;
}


/* MOVIE MODAL */
.movie-modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -10;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.35s ease;
}

.movie-modal.show{
    z-index: 10;
    opacity: 1;
}

.movie-modal .modal-window{
    width: 300px;
    height: 300px;
    background-color: #141414;

}


/* FOOTER SECTION */



@media screen and (min-width: 1400px) {
    .main__container .cat__row .cat_movies .movie_container {
        width: 16%;
    }
    
}




@media screen and (min-width: 1100px) and (max-width: 1399px) {
    .main__container .cat__row .cat_movies .movie_container {
        width: 20%;
    }
}

@media screen and (min-width: 800px) and (max-width: 1099px) {
    .main__container .cat__row .cat_movies .movie_container {
        width: 25%;
    }

    .main__hero .hero__content .hero-buttons button {
        font-size: 0.6rem;
        padding-left: 0.6rem;
        padding-right: 0.7rem;
    }

    .main__hero .hero__content .hero-buttons .hero-info::before {
        font-size: 0.6rem;
    }

    .main__hero .hero__content .hero-buttons .hero-play::before {
        font-size: 1rem;
    }
}

@media screen and (min-width: 500px) and (max-width: 799px) {
    .main__container .cat__row .cat_movies .movie_container {
        width: 33.333333%;
    }

    .main__hero .hero__content {
        bottom: 25%;
    }

    .main__hero .hero__content .hero-buttons button {
        font-size: 0.6rem;
        padding-left: 0.3rem;
        padding-right: 0.4rem;
        line-height: 1.5rem;
    }

    .main__hero .hero__content .hero-buttons .hero-info::before {
        font-size: 0.6rem;
    }

    .main__hero .hero__content .hero-buttons .hero-play::before {
        font-size: 1rem;
    }
    
}

@media screen and (max-width: 499px) {
    .main__container .cat__row .cat_movies .movie_container {
        width: 50%;
    }

    .main__hero .hero__content .hero-buttons button {
        font-size: 0.6rem;
        padding-left: 0.3rem;
        padding-right: 0.4rem;
        line-height: 1.5rem;
    }

    .main__hero .hero__content .hero-buttons .hero-info::before {
        font-size: 0.6rem;
    }

    .main__hero .hero__content .hero-buttons .hero-play::before {
        font-size: 1rem;
    }

}

